.container {
  padding: 0 2rem;
}
.blogData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 50px 10px;
}
.blogDtataItem {
  width: calc(33.3333% - 20px);
  padding: 10px;
  margin: 10px;
  background-color: #dddddd;
  border-radius: 3px;
}
.morebtn {
  width: 100%;
  padding: 10px;
}

.morebtn span {
  display: inline-block;
  padding: 13px 15px;
  line-height: 1.3;
  color: red;
  background-color: #dddddd;
  border-radius: 4px;
  cursor: pointer;
}

.nodata {

}
